@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #1f2751;
}

.header-text {
  position: absolute;
  font-size: 7vh;
  left: 50%;
  top: 3vh;
  transform: translate(-50%);
  color: #ffffff;
}

.code-btn {
  cursor: pointer;
  position: absolute;
  top: 315px;
}

.music-btn {
  cursor: pointer;
  position: absolute;
  top: 658;
}

.photo-btn {
  cursor: pointer;
  position: absolute;
  top: 159;
}
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vh;
  height: 60vh;
  max-width: 100%;
}

