@font-face {
  font-family: Inter Regular;
  src: url(/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: KaiseiOpti Bold;
  src: url(/fonts/KaiseiOpti-Bold.ttf);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
  font-family: Inter Regular;
}

body{
  overflow: hidden;
  background-color: #000000;
}

.bg-circle {
  position: absolute;
  bottom: -10vh;
  right: 15vh;
  width: 50vh;
  height: 50vh;
  border-radius: 20vh;
  background: #B4A99F;
  filter: blur(20vh);
}

.bg-circle2 {
  z-index: 0;
  position: absolute;
  top: -10vh;
  left: -10vh;
  width: 60vh;
  height: 60vh;
  border-radius: 20vh;
  background: #ADB4BB;
  filter: blur(25vh);
}

.copyright {
  position: absolute;
  z-index: 200;
  bottom: 1vh;
  left: 1vh;
  color: #bebebe;
  font-size: 1.5vh;
}

.copyright a {
  color:#bebebe;
}

.qoute{
  position: absolute;
  top: 3vh;
  left: 3vh;
  z-index: 10;
}

.text {
  font-size: 6vw;
  color: #FFFFFF;
  font-family: KaiseiOpti Bold;
}
.credit {
  font-size: 2vw;
  color: #FFFFFF;
  font-family: KaiseiOpti Bold;
}
